@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');

* {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0%;
}

.main {
  margin-left: 8px;
  margin-right: 8px;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.orange600 { color: #FB8C00; }

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header-nav-delivery {
  
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
 
}

.back-icon {
  margin-top: 16px;
}

.header-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 16px;
}

.selected-address {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.address {
  font-weight: 600;
  
}

.address-title {
  margin-top: 16px;
  color: grey;
  font-size: 8px;
}

.date-picker {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.lunch-dinner {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 5px;
}

.lunch {
  margin-top: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #424749;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}



.dinner {
  margin-top: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: solid 1px #f1f1f2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.date-picker{
  border-bottom: solid 1px #f1f1f2;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.date-picker::-webkit-scrollbar {
  display: none;
}

.day-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  margin: 4px 16px;
  width: 48px;
  height: 48px;
}

.day {
  font-size: 8px;
  
}

.date {
  font-size: 16px;
  font-weight: 600;
}

.date-now {
  margin-top: 16px;
  margin-bottom: 16px;
}



img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.menu-card {
  
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}



.rating-value {
  font-size: 12px;
  color: #6e7679;
  font-weight: 700;
  
}

.star-ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  margin-left: 8px;
}




/* Cart */

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.atc-icon {
 
  font-weight: 500;
  color: white;
}


.info-item-price {
  color: #424749;
  font-weight: 600;
}












/* modal */

.modal-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  background-color: white;
}

.modal-title {
  margin: 8px;
  font-size: 24px;
  font-weight: 500;
}

.search-bar-modal {
  margin: 8px;
  border: solid 2px #f1f1f2;
  display: flex;
  flex-direction: row;
}

.location-icon {
  margin: 4px;
  color: orange;
  display: flex;
  align-items: center;
}

.search-bar-query {
  border: solid 0px;
  width: 100%;
  margin: 4px;
}

.search-result {
  display: flex;
  margin: 8px;
  flex-direction: column;
  height: 320px;
}

.result-icon {
  
  background-color: #e2e4e4;
  color: gray;
  border-radius:100%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-location {
  margin: 4px;
}

.location-result {
  margin: 4px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.location-name-address {
  margin: 8px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.location-name {
  font-weight: 600;
  font-size: 14px;
}

.location-address {
  
  color: grey;
  font-size: 12px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

textarea:focus, input:focus{
  outline: none;
}

.modal-content {
  border: 0px!important;
}

